/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  /*Styles*/
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  padding: 0;
  color: #61F7FF;
}

img {
  margin-top: 50px;
  border-radius: 50%;
  max-height: 25%;
  max-width:  25%;
}

footer {
  color:black;

}

/* Link Styles */

a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: #bffcc6;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

 .wrap {
  min-height: calc(100vh-18px);
}

.container {
  background-color: orange;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 2em;
} 

.main-nav {
  width: 100%;
  background: #853eff;
  min-height: 30px;
  position: fixed;
  text-align: right;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  float: right;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

.main-content {
  /* color:#32D93A;  */
  color: #E08119; 
  padding: 2em;
  background-color: #ffd1dc;
  flex-grow: 1;
}
 
/* ==============================================
  Resume Page
  ===================================== */

.resume-content {
  color: black; 
  background-color: #ffffff;
  flex-grow: 1;
  padding-top: 2em;
  padding-bottom: 15px;
  display: block;
}

.resume-top {
  font-size: 10px;
  white-space: nowrap;
  /* display: block; */
}

.resume-address {
  display: inline-block;
  float: left;
  text-align: left;
  width: 50%;
  margin-bottom: 5em;
}

.resume-contact {
  display: block;
  text-align: right;
  float: left;
  width: 50%;
  margin-bottom: 5em;
}

.resume-headers {
  color: black;
  font-weight: bold;
  text-align: left;
}

.resume-details {
  color: black;
  font-weight: normal;
}

.resume-education {
  display: inline-block;
  float: left;
  width: 33%;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

    .container {
      width: 80%;
    }
    
    .name,
    .main-nav li {
      display: inline;
    } 
    
    .clearfix::after {
      content: "";
      display: table;
      clear: both;
    }
  }
