body {
    box-sizing: border-box;
    margin: 0;
    padding: 13px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    width: 50%;
  }

  html {
    background: linear-gradient(to right, black 0%, white 100% );
  }

  .chat-container {
    background-color: white;
    border: 2px solid grey;
    border-radius: 25px;
    padding: 25px;
    margin-top: 50px;
    /* testing chat bubble positioning */
    text-align: center;
    overflow-y: scroll;
  }
  
  .members-count,
  .members-list,
  .messages {
    border: 1px solid #e4e4e4;
    padding: 15px;
    margin-bottom: 15px;
  }

  .messages {
    flex-shrink: 1;
    overflow: auto;
    margin-top: 35px;
    text-align:left;
    /* testing chat bubble positioning */
    background-color:#a5f7c3;
    border-color:green;
    border-radius:10px;
    border-style:solid;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    position:relative;
    
  }

  .messages-sent {
    text-align: right;
    color: white;
    background-color: blue;
    /* testing chat bubble positioning */
    border-radius:10px;
    border-style:solid;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    position:relative;
    width:250px;
  }
  
  .message {
    padding: 5px 0;
  }
  .message .member {
    display: inline-block;
  }
/* START testing chat bubble positioning */
  #chat_left {
    position:absolute;
    left:50%;
    margin-left:-425px;
    top:100px;
    width:200px;
  }
  #input_text_left {
    background-color:white;
    box-shadow: 0px 0px 5px #000000;
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    width:200px;
  }

  #chat_right {
    position:absolute;
    margin-right:-450px;
    right:50%;
    top:100px;
    width:200px;
  }
  #input_text_right {
    background-color:white;
    box-shadow: 0px 0px 5px #000000;
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    width:200px;
  }
/*END testing chat bubble positioning */
  
  .member {
    padding-right: 10px;
    position: relative;
  }
  
  .message-form {
    display: flex;
    flex-shrink: 0;
    background-color: white;;
  }
  .message-form__input {
    flex-grow: 1;
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    font-size: 16px;
  }
  .message-form__button {
    margin: 10px;
  }
  
  /* ================================= 
    Media Queries
  ==================================== */
  
  @media (min-width: 769px) {
  
    .container {
      width: 80%;
    }
    
    .name,
    .main-nav li {
      display: inline;
    } 
    
    .clearfix::after {
      content: "";
      display: table;
      clear: both;
    }
  }