body {
    box-sizing: border-box;
    margin: 0;
    padding: 13px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    width: 50%;
  }

  html {
    background: linear-gradient(to right, blue 0%, grey 100% );
  }

  .chat-container {
    background-color: white;
    border: 2px solid grey;
    border-radius: 25px;
    padding: 25px;
    margin-top: 50px;
  }
  
  .members-count,
  .members-list,
  .messages {
    border: 1px solid #e4e4e4;
    padding: 15px;
    margin-bottom: 15px;
  }

  .messages {
    flex-shrink: 1;
    overflow: auto;
    margin-top: 35px;
  }

  .messages-sent {
    text-align: right;
    color: white;
    background-color: blue;
  }
  
  .message {
    padding: 5px 0;
  }
  .message .member {
    display: inline-block;
  }
  
  .member {
    padding-right: 10px;
    position: relative;
  }
  
  .message-form {
    display: flex;
    flex-shrink: 0;
    background-color: white;;
  }
  .message-form__input {
    flex-grow: 1;
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    font-size: 16px;
  }
  .message-form__button {
    margin: 10px;
  }
  
  /* ================================= 
    Media Queries
  ==================================== */
  
  @media (min-width: 769px) {
  
    .container {
      width: 80%;
    }
    
    .name,
    .main-nav li {
      display: inline;
    } 
    
    .clearfix::after {
      content: "";
      display: table;
      clear: both;
    }
  }