body {
    background-color: Darkblue;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: rgb(228, 23, 23)
  }
  a {
    text-decoration: none;
    color: #0499ff;
  }
  a:hover {
    color: #6633ff;
  }

  .main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  .nav .name {
    display: none;
  }
  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a {
    transition: all .5s;
  }
  .nav a:hover {
    color: white
  }
